// Set the root element
$semantic-root-element: '#root';

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;
$enable-responsive-typography: false;

// Enable .classes
$enable-classes: true;

// Import Pico
@import '@picocss/pico/scss/pico';

:root {
  --font-size: 14px;
}

dialog > article > footer > button,
.action_buttons button {
  width: auto;
  min-width: 5em;
  display: initial;
  margin-left: calc(var(--spacing) * 0.5);
  font-size: 0.8rem;
}
td.action_buttons {
  text-align: right;
}
